<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 
    <style>
      .navbar-dark {
        background-color: #555; 
      }

      .nav-link {
        color: #fff; 
      }

      .nav-link:hover {
        color: #ccc; 
      }

      .navbar-brand {
        color: #fff; 
      }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Kela Book Website</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon">Kela Book Website</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/about/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/contact/">contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order/"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</head>
<body>
  <h1 style="padding-left: 70vh;">About Our Store</h1>
  <h4 style="padding: 50px;">Welcome to Kela, nestled in the vibrant neighborhood of Willowbrook, a bustling district known for its cultural diversity and artistic flair. Since our establishment in 2005, Kela has been a cherished cornerstone of the community, offering a haven for bibliophiles and book enthusiasts alike.

    At Kela, we believe in the power of storytelling to transport, inspire, and connect. Our shelves are adorned with an eclectic array of literary gems, from beloved classics to contemporary masterpieces, carefully curated to cater to every taste and interest. Whether you're seeking a gripping thriller, a heartwarming romance, or an enlightening work of non-fiction, you're sure to find your next literary adventure within our walls.
    
    But Kela is more than just a bookstore; it's a sanctuary for the curious and a hub for creativity. Our cozy reading nooks, adorned with plush armchairs and softly glowing lamps, beckon readers to lose themselves in the pages of a book, while our bustling café offers a welcoming space for lively discussions and literary events.
    
    Since our inception, we've been dedicated to nurturing a vibrant literary community. From author signings and book clubs to poetry readings and storytelling sessions, we're committed to fostering a love of literature and creating meaningful connections among our patrons.
    
    As stewards of the written word, we're passionate about supporting emerging authors and championing diverse voices. Through our partnerships with local publishers and literary organizations, we strive to showcase the rich tapestry of talent within our community and beyond.
    
    Thank you for being a part of Kela's journey. Whether you're a longtime patron or a first-time visitor, we invite you to immerse yourself in the magic of storytelling and discover the endless possibilities that await within the pages of a book.
    
    </h4>
   
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
